<script>
 function hide(){
 $("ul").slideToggle(); 
}
</script>
<div id="title"><h1>学生管理系统</h1></div>

<div class="dropdown" style="float:left;">
  <button class="dropbtn">菜单</button>
  <div class="dropdown-content" style="left:0;">
  <a href="#"><%= link_to '班级',  controller: 'containers' %></a>
  <a href="#"><%= link_to '查询', controller: 'studentinfos', action: 'selectstudent' %></a>
  <a href="#"><%= link_to '教师', controller: 'teachers'%></a>
  <a href="#"><%= link_to '学生', controller: 'studentinfos' %></a>
  </div>
