a:link { text-decoration:none;}
a:hover { text-decoration:underline; }
td { text-align :center;  padding:5px;}
table{ border :1px solid #DDDDDD; margin-top :5px;  }
tr{ border :1px solid #DDDDDD;}
#ta {width: 100%; border-collapse:collapse; }
.tt{ background-color:#EAF2D3 }
#title{ text-align:center;}
.butt{color:red;}
#bgtr:hover{ background-color :#DDDDDD}
#trcolor{ background-color :#AAAAAA }
td{ border :1px solid #DDDDDD; width: 617px; }
#teacher_container_id{ width :206px;}
